@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: url('backgr.jpg');
	background-color: #d9d9d9;
	height: 100%;
	width: 100%;
	font-family: Orbitron, sans-serif;
}
.App {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.rating {
	display: inline-flex;
	padding: 1rem;
	align-items: center;
}

.star,
.moves,
.timer,
.redo {
	padding-right: 20px;
	cursor: pointer;
}

.redo-icon {
	padding-left: 2px;
}

.deck {
	width: 80%;
	padding: 1rem;
	margin-top: 0.1rem;
	background: rgb(2, 0, 36);
	background: linear-gradient(45deg, rgba(160, 24, 180, 1) 40%, rgba(0, 155, 255, 1) 88%, rgba(0, 155, 255, 1) 100%);
	border-radius: 4px;
	box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.deck .card {
	width: 20%;
	height: 20%;
	color: #ffffff;
	margin: 1%;
	padding: 1.2%;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 50px;
	min-width: 40px;
}

.back {
	background: #000000;
	display: none;
}
.back .font-icon {
	color: #000000;
}

.front {
	min-width: 40px;
	width: 20%;
	height: 20%;
	background-color: rgb(100, 193, 255);
	margin: 1%;
	padding: 1.2%;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
}

@media only screen and (min-width: 768px) {
	.deck {
		width: 560px;
		height: 560px;
		margin-bottom: 2%;
	}
}
@media only screen and (max-width: 550px) {
	.deck {
		width: 80%;
	}
	.deck .card {
		height: 4rem;
		width: 4rem;
		padding: 0.8%;
	}
	.front-icon {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media only screen and (max-width: 360px) {
	.deck {
		width: 76%;
	}
	.deck .card {
		height: 3rem;
		width: 3rem;
		padding: 1.6%;
	}
	.front-icon {
		display: flex;
		align-items: center;
	}
}
